/* .dropdown-title,
.dropdown-title:hover {
  color: #ffffff; 
}

.navL {
  background-color: #f8f9fa;
} */

/* .binded-content {
  position: relative;
  height: 100%;
}

.binded-item {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.binded-item.active {
  position: relative;
  visibility: visible;
  opacity: 1;
} */

@media only screen and (max-width: 1340px) {
  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }
  
  .navbar-nav .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;

  }
  
  .navbar-nav .dropdown-menu.show {
    display: block;
  }
}


.navL .navbar-brand,
.navL .navbar-nav .nav-link,
.navL .nav-dropdown .dropdown-toggle {
  color: #e682ff; /* Set the desired text color */
}

.navL .navbar-brand:hover,
.navL .navbar-nav:hover .nav-link:hover,
.navL .nav-dropdown:hover .dropdown-toggle:hover {
  color: #e682ff; /* Set the desired text color */
}

.moon-offset {
  margin-right: 4px;
}

.sun-offset {
  margin-left: 4px;
}


.navbar-content {
    margin-top: 100px; /* height of navbar */
  }

.dark-mode .page-loading {
    background-color: #121519;
  }

.dark-mode .page-loading-inner > span {
    color: #fff;
    opacity: .6;
  }
.dark-mode .page-spinner {
    background-color: rgba(255,255,255,.25);
  }

.navL {
    color: #f8f9fa;
    /* background-color: #f8f9fa; */
    text-shadow: 0px 0px #e682ff;
}

.navL:hover {
    text-decoration: none;
    text-shadow: #f8f9fa;
    /* text-shadow: 1px 1px #c5ff06; */
  }

  .page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
  }
  .dark-mode .page-loading {
    background-color: #121519;
  }
  .page-loading.active {
    opacity: 1;
    visibility: visible;
  }
  .page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
  }
  .page-loading.active > .page-loading-inner {
    opacity: 1;
  }
  .page-loading-inner > span {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #6f788b;
  }
  .dark-mode .page-loading-inner > span {
    color: #fff;
    opacity: .6;
  }
  .page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    background-color: #d7dde2; 
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
  }
  .dark-mode .page-spinner {
    background-color: rgba(255,255,255,.25);
  }
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    50% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    50% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
